.Nav {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-items: stretch;
  height: 3rem;
  width: 100%;
  z-index: 10;
}

@media only screen and (min-width: 40em) {
  .Nav {
    max-width: 40em;
    left: calc(50% - 20em);
  }
}

.tab {
  border-radius: 10px 10px 0 0 !important;
  border-bottom-width: 0;
  border-color: #fff;
  background-color: #fff;
  font: 200 1rem sans-serif;
  font-family: inherit;
  transition: all ease 0.1s;
}

.selected {
  outline: none;
  box-shadow: 0 0 1px 3px #000;
  border-width: 6px 12px 0 12px;
  padding-bottom: 11px;
  font-weight: 600;
  z-index: 2;
}
